<% admin_breadcrumb(link_to plural_resource_name(Spree::LegacyUser), spree.admin_users_path) %>
<% admin_breadcrumb(link_to @user.email, edit_admin_user_url(@user)) %>
<% admin_breadcrumb(t('spree.admin.user.order_history')) %>

<%= render 'spree/admin/users/sidebar' %>
<%= render 'spree/admin/users/tabs', current: :orders %>
<%= render partial: 'spree/admin/users/user_page_actions' %>

<% content_for :table_filter_title do %>
  <%= t('spree.search') %>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_user_orders_index_search">
    <%= search_form_for [:admin, @search], url: orders_admin_user_path(@user.id) do |f| %>
      <div class="row">
        <div class="field-block col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="date-range-filter field">
            <%= label_tag :q_created_at_gt, t('spree.date_range') %>

            <div class="date-range-fields input-group">
              <%= f.text_field :created_at_gt, class: "datepicker form-control datepicker-from",
                value: params[:q][:created_at_gt],
                placeholder: t("spree.start") %>

              <div class="input-group-prepend input-group-append">
                <span class="input-group-text range-divider">
                  <i class="fa fa-arrow-right"></i>
                </span>
              </div>

              <%= f.text_field :created_at_lt, class: "datepicker form-control datepicker-to",
                value: params[:q][:created_at_lt],
                placeholder: t("spree.end") %>
            </div>
          </div>

          <div class="field">
            <%= label_tag :q_state_eq, t("spree.status") %>
            <%= f.select :state_eq, Spree::Order.state_machines[:state].states.collect {
              |s| [t(s.name, scope: "spree.order_state"), s.value]
            }, { include_blank: true }, class: "custom-select fullwidth" %>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-6">
          <div class="row">
            <div class="col-12 col-xl-6">
              <div class="field">
                <%= label_tag :q_number_start, t("spree.order_number", number: "") %>
                <%= f.text_field :number_start %>
              </div>

              <div class="field">
                <%= label_tag :q_email_start, t("spree.email") %>
                <%= f.text_field :email_start %>
              </div>
            </div>

            <div class="col-12 col-xl-6">
              <div class="field">
                <%= label_tag :q_bill_address_firstname_start, t("spree.first_name_begins_with") %>
                <%= f.text_field :bill_address_firstname_start, size: 25 %>
              </div>

              <div class="field">
                <%= label_tag :q_bill_address_lastname_start, t("spree.last_name_begins_with") %>
                <%= f.text_field :bill_address_lastname_start, size: 25 %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <% if Spree::Store.count > 1 %>
            <div class="field">
              <%= label_tag :q_store_id_eq, t("spree.store") %>
              <%= f.select :store_id_eq, Spree::Store.find_each.map {
                |s| [s.name, s.id]
              }, { include_blank: true }, { class: "custom-select fullwidth" } %>
            </div>
          <% end %>

          <div class="field checkbox">
            <label>
              <%= f.check_box :completed_at_not_null, { checked: @only_completed_orders }, "1", "0" %>
              <%= t("spree.show_only_complete_orders") %>
            </label>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="actions filter-actions">
        <div data-hook="admin_user_orders_index_search_buttons">
          <%= button_tag t("spree.filter_results"), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<%= paginate @orders, theme: "solidus_admin" %>

<fieldset data-hook="admin_user_order_history" class="no-border-bottom">
  <legend><%= t("spree.admin.user.order_history") %></legend>

  <% if @orders.any? %>
    <table class="index" id="listing_orders" data-hook>
      <colgroup>
         <col style="width: 25%;">
         <col style="width: 25%;">
         <col style="width: 25%;">
         <col style="width: 25%;">
      </colgroup>
      <thead>
        <tr data-hook="admin_orders_index_headers">
          <th><%= sort_link @search, :completed_at,   Spree::Order.human_attribute_name(:completed_at), {title: 'orders_completed_at_title'} %></th>
          <th><%= sort_link @search, :number,         Spree::Order.human_attribute_name(:number), {title: 'orders_number_title'} %></th>
          <th><%= sort_link @search, :state %></th>
          <th><%= sort_link @search, :payment_state %></th>
          <% if Spree::Order.checkout_step_names.include?(:delivery) %>
            <th><%= sort_link @search, :shipment_state %></th>
          <% end %>
          <th><%= sort_link @search, :total,          Spree::Order.human_attribute_name(:total), {title: 'orders_total_title'} %></th>
        </tr>
      </thead>
      <tbody>
      <% @orders.each do |order| %>
        <tr data-hook="admin_orders_index_rows">
          <td class="order-completed-at"><%= l(order.completed_at.to_date) if order.completed_at %></td>
          <td class="order-number">
            <% if can?(:admin, order) && can?(:edit, order) %>
              <%= link_to order.number, edit_admin_order_path(order) %>
            <% else %>
              <%= order.number %>
            <% end %>
          </td>
          <td>
            <span class="pill pill-<%= order.state %>">
              <%= t(order.state, scope: 'spree.order_state') %>
            </span>
          </td>
          <td>
            <% if order.payment_state %>
              <span class="pill pill-<%= order.payment_state %>">
                <%= t(order.payment_state, scope: 'spree.payment_states') %>
              </span>
            <% end %>
          </td>
          <% if Spree::Order.checkout_step_names.include?(:delivery) %>
            <td>
              <% if order.shipment_state %>
                <span class="pill pill-<%= order.shipment_state %>">
                  <%= t(order.shipment_state, scope: 'spree.shipment_states') %>
                </span>
              <% end %>
            </td>
          <% end %>
          <td class="order-total"><%= order.display_total.to_html %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="no-objects-found">
      <% if can? :manage, Spree::Order %>
        <%= render 'spree/admin/shared/no_objects_found',
                     resource: Spree::Order,
                     new_resource_url: spree.new_admin_order_path(user_id: @user.id) %>
      <% end %>
    </div>
  <% end %>
</fieldset>

<%= paginate @orders, theme: "solidus_admin" %>
